.container {
  width: 100%;
  padding: 5vw 12.5% 4vw 12.5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.col1 {
  width: 48%;
}
.col2 {
  width: 48%;
}
.head {
  color: #465248;
  font-size: 2vw;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  letter-spacing: 3px;
}
.desc {
  color: #465248;
  font-size: 1vw;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif;
  line-height: normal;
  margin: 2vw 0 0 0;
}
.packImg {
  float: right;
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}
.heroBtn {
  color: #465248;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  margin: 2vw 0 0 0;
  padding: 8px 30px;
  width: fit-content;
  border: 1px solid #465248;
}
.heroBtn:hover {
  color: white;
  background-color: #465248;
  cursor: pointer;
  transition: 600ms;
}
@media screen and (max-width: 464px) {
  .container {
    padding: 7vw 5vw 7vw 5vw;
    gap: 2.5vw;
  }
  .col1 {
    width: 98%;
  }
  .col2 {
    width: 98%;
  }
  .head {
    color: #465248;
    font-size: 6vw;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    letter-spacing: 3px;
  }
  .desc {
    color: #465248;
    text-align: center;
    font-size: 3vw;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: "Times New Roman", Times, serif;
    line-height: normal;
    margin: 2vw 0 0 0;
  }
  .heroBtn {
    color: #465248;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    margin: 6vw 0 8vw 27vw;
    padding: 8px 30px;
    width: fit-content;
    border: 1px solid #465248;
  }
  .packImg {
    float: none;
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
  }
}
