.container {
	width: 100%;
}
.formWrapper {
	display: flex;
	flex-direction: column;
}
.formGroup {
	display: flex;
	flex-direction: column;
}
.formGroup label {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 500;
}
