.container {
	height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	background-color: #fff;
	padding: 0 2rem;
}

.header h1 {
	font-size: 1.2rem;
	font-weight: 600;
}

.dashboard {
	display: flex;
	height: 92vh;
}

.leftPanel {
	display: flex;
	flex-direction: column;
	width: 20%;
	max-width: 250px;
	background-color: #aadbff;
}

.rightPanel {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
	background-color: #f4f4f4;
}
