.container {
	padding: 20px 40px;
	text-align: center;
}

.foreignObjectStyle {
	border: 1px solid black;
	border-top: 2px solid #2f80ed;
	border-radius: 5px;
	z-index: 1000;
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	width: 200px;
	height: 80px;
}

.reload {
	color: #2f80ed;
	margin-top: 10px;
	text-decoration: underline;
	cursor: pointer;
}
